@import "./abstracts/variables-sass";
@import "../node_modules/knacss/sass/knacss.scss";

$yellow-color: #e7c137;
$red-color: #b32419;
$grey-color: #aba693;
$blue-color: #2a668e;
$black-color: #151419;

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 90vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.art-bloc {
  background-color: $black-color;
  max-width: 27.8rem;
  width: 100%;
  height: 100%;
  max-height: 32.6rem;
  grid-template-columns: 5% 36% 21% 11% 14% 10%;
  grid-template-rows: 9% 19% 16% 15% 6% 15%;
}

.art-bloc > * {
  display: inline-flex;
}

.grey {
  background-color: $grey-color;
}

.yellow {
  background-color: $yellow-color;
}

.red {
  background-color: $red-color;
}

.blue {
  background-color: $blue-color;
}

.black {
  background-color: $black-color;
}

.gray {
  background-color: gray;
}
